{% extends 'base.html.twig' %}

{% block body %}
	<div class="baisse-haut"></div>
	<div class="row">
		<div class="col-md-6 pres">
			<h2>MG</h2>
				<img alt="img-mg" src="{{ asset('/img/pres-mg.jpg') }}" class="img-profil"/>
				Marie Gaëlle, 26 ans, a quitté son boulot de conseillère clientèle privée (gestion de patrimoine). Elle vient de passer cinq ans à Lille. 
				Passionnée de voyages, road trips, soirées entre amis et week end enflammés, l'idée d'un grand voyage basé sur les rencontres, découvertes et paysages de rêves  
				  s'est imposée d'elle même.
				Elle prépare donc ce voyage depuis 2 ans et demi (déjà!). <br/>
				"I always wonder why birds stay in the same place when they can fly anywhere on the earth. Then I ask myself the same question."
		</div>
		<div class="col-md-6 pres">
			<h2>Pierre</h2>
				<img alt="img-pierre" src="{{ asset('/img/pres-pierre.jpg') }}" class="img-profil"/>
				Pierre, 23 ans, finit ses études de géochimie à Paris et se destine à une carrière de chercheur, armé de son marteau de géologue et d'une micropipette. Non content de devoir attendre la trentaine avant de commencer enfin à bosser, il 
				 souhaite procrastiner une année de plus. Sa passion pour les cailloux et pour la nature en général l'a amené à parcourir la France et déjà quelques pays du monde, notamment les Etats-Unis et leur cote ouest à l'occasion d'un stage puis d'un road-trip de ouf avec M-G. Féru de sport et modelé par quinze ans de scoutisme, il voit dans ce tour du monde un défi supplémentaire, alliant exploration de paysages insoupconnés et découverte de nouvelles cultures.
		</div>
	</div>
{% endblock %}