{% extends 'base.html.twig' %}

{% block body %}
	<div class="baisse-haut"></div>
	<div class="row">
		<div class="col-md-6 pres">
			<h2>MG</h2>
			<div class="col-md-6">
				<img alt="img-mg" src="{{ asset('/img/fond.jpg') }}" class="img-profil"/>
			</div>
			<div class="col-md-6">
				plein de texte
			</div>
			
			<div class="col-md-12">
				encore plus de texte
			</div>
		</div>
		<div class="col-md-6 pres">
			<h2>Pierre</h2>
			<div class="col-md-6">
				<img alt="img-pierre" src="{{ asset('/img/pres-pierre.jpg') }}" class="img-profil img-pierre"/>
			</div>
			<div class="col-md-6 pres-begin">
				Pierre, 23 ans, finit ses études de géochimie à Paris et se destine à une carrière de chercheur, armé de son marteau de géologue et d'une micropipette. Non content de devoir attendre la trentaine avant de commencer enfin à bosser, il 
			</div>

			<div class="col-md-12 pres-end">
				 souhaite procrastiner une année de plus. Sa passion pour les cailloux et pour la nature en général l'a amené à parcourir la France et déjà quelques pays du monde, notamment les Etats-Unis et leur cote ouest à l'occasion d'un stage puis d'un road-trip de ouf avec M-G. Féru de sport et modelé par quinze ans de scoutisme, il voit dans ce tour du monde un défi supplémentaire, alliant exploration de paysages insoupconnés et découverte de nouvelles cultures
			</div>
		</div>
	</div>
{% endblock %}