{% extends 'base.html.twig' %}
{% block body %}
	{% for i in 0..compte-1 %}
			<div class="col-md-3 fond-photo">
				<img src="{{ asset('uploads/pictures/' ~ photos[i].path ) }}" class="img-liste">
				<div class="linkphotos"><a href="{{ path('photos_article', {'id':photos[i].id } ) }}"><h3>Photos de: {{ photos[i].titre }}</h3></a></div>
			</div>
	{% endfor %}
{% endblock %}