{% extends 'base.html.twig' %}
{% block body %}
	<div class="baisse-haut"></div>
	<div class="conseilcheck">
		<h2>Votre conseil a bien été envoyé</h2>
		Nom: {{ conseil.nom }}
		<br/>
		Email: {{ conseil.email }}
		<br/>
		Motif: {{ conseil.motif }}
		<br/>
		Conseil: {{ conseil.contenu }}
	</div>
{% endblock %}