/* Autres */
.baisse-haut
{
	margin-top: 70px;
}
body
{
	background-color: #c5e3f6;
	height: 100%;
}



/* debut header */
header
{

}
nav
{
	background-color: green !important;
	box-shadow: 0px 3px 10px ;
	border-color: green !important;
}
nav:hover
{
	box-shadow: 0px 3px 10px #000000;
}
.menu-btn
{
	color:black !important;
	font-weight: bold;
}
.img-head
{
	height: 44px;
	padding-left:20px;
	padding-top: 3px;
}

.listebtn
{
	margin-left: 15%;
}

/* fin header */

/*partie api google maps*/

#map
{
	margin-top: 75px;
	height: 600px;
	border: black 5px solid;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 0;
}

/* fin api */

/* bouton d'ancre */

.bouton-descente
{
	height: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
	width: 10%;
	z-index: 3;
	margin-left: 45%;
	margin-right: 45%;
	background-color: green;
	text-align: center;
	position: fixed;
	bottom: 30px;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
}
.bouton-descente a
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}
.bouton-descente a : hover
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}
.trait
{
	height: 5px;
	width: 100%;
	z-index: -12;
	background-color: green;
	position: absolute;
	bottom: 25px;
}

/* fin bouton */

/* division du bas (3 boutons) */

#bas
{
	position: relative;
	margin-top: 5%;
}

.partie-bas
{
	width: 80%;
	height: 300px;
	margin-top: 15%;
	margin-bottom: 20%;
	margin-left: 10%;
	padding-bottom: 100px;
} 

.partie-bas h2
{
	color:black;
	font-weight: bold;
}

/* debut des trois boutons */

.btn-gauche
{
	height: 100%;
	max-width: 20%;
	margin-left: 10%;
	background-color: green;
/*	border: solid 5px #078B07;*/
	border-radius: 5px;
	text-align:center;
}
.btn-gauche:hover
{
	box-shadow: 0px 3px 10px #000000;
}

.btn-centre
{
	height: 100%;
	max-width: 20%;
	margin-left: 10%;
	background-color: green;
/*	border: solid 5px #078B07;*/
	border-radius: 5px;
	text-align:center;
}

.btn-centre:hover
{
	box-shadow: 0px 3px 10px #000000;
}

.btn-droite
{
	height: 100%;
	max-width: 20%;
	margin-left: 10%;
	background-color: green;
/*	border: solid 5px #078B07;*/
	border-radius: 5px;
	text-align:center;
}
.btn-droite:hover
{
	box-shadow: 0px 3px 10px #000000;
}

/* fin des trois boutons */

/* footer*/

footer
{
	bottom: 0;
	position: fixed;
	z-index: 3;
	height: 30px;
	width: 100%;
	background-color: green;
	text-align: center;
	color:black;
	font-weight: bold;
}

/*=============================== PAGE ARTICLE ==============================*/
.contenu
{
	text-align: center;
}
.article
{
	margin-bottom: 30px;
	height: 300px;
	overflow: auto;
}
.img-article
{

	width: 100%;
}
/*============================= PAGE CREATION ARTICLES ========================*/

.form-articles
{
	margin-top: 75px;
}

/*========================== PAGE DE PRESENTATION =============================*/

.pres h2
{
	text-align: center;
}
.pres
{
	position: relative;
	height: 600px;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: green;
	border-radius: 10px;
	color: black;
}
.img-profil
{
	max-width: 100%;

}
/*==================================== CONSEIL ===============================*/

.form-conseil
{
	margin-top: 75px;

}
.textarea
{
	height: 100px;
	width: 140%;
	margin-left: -30%;
}
.conseilcheck
{
	text-align: center;
	color:black;
	font-weight: bold;
}
.boutonsubmit
{
	float: right;
}

.titreconseil
{
	text-align: center;
	color: black;

}
/*media query*/
@media all and (max-height: 700px)
{
	#map
	{
		max-height: 500px;
	}
}
@media all and (max-width: 640px)
{
	.bouton-descente
	{
		width: 100%;
		margin-left: 0%;
	}
	.btn-centre
	{
		margin-top: 20px;
		max-width: 100%;
		margin-left: 0%;
		z-index: 2;
	}
	.btn-gauche
	{
		max-width: 100%;
		margin-left: 0%;
		z-index: 2;
	}
	.btn-droite
	{
		margin-top: 20px;
		max-width: 100%;
		margin-left: 0%;
		z-index: 2;
	}
	#map
	{
		width: 100%;
		margin: 0%;
		height: 500px;
		margin-top: 50px;
	}
	.pres
	{
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
	.motif
	{
		display:block;
	}
}