/* Autres */
.baisse-haut
{
	margin-top: 70px;
}

/* debut header */
header
{

}
nav
{
	background-color: green !important;
}
.menu-btn
{
	color:black !important;
}
.img-head
{
	height: 40px;
}

.listebtn
{
	margin-left: 15%;
}

/* fin header */

/*partie api google maps*/

#map
{
	margin-top: 75px;
	height: 600px;
	border: black 5px solid;
	margin-left: 10%;
	margin-right: 10%
}

/* fin api */

/* bouton d'ancre */

.bouton-descente
{
	height: 20px;
	width: 6%;
	margin-left: 47%;
	margin-right: 47%;
	background-color: red;
	text-align: center;
	position: absolute;
	bottom: 30px;
}
.bouton-descente a
{
	color: white;
	text-decoration: none;
}
.bouton-descente a : hover
{
	color: white;
	text-decoration: none;
}
.trait
{
	height: 5px;
	width: 100%;
	background-color: green;
	position: absolute;
	bottom: 25px;
}

/* fin bouton */

/* division du bas (3 boutons) */

#bas
{
	position: absolute;
	margin-top: 5%;
}

.partie-bas
{
	width: 80%;
	height: 300px;
	margin-top: 10%;
	margin-bottom: 100%;
	margin-left: 10%;
	padding-bottom: 100px;
} 

.partie-bas h2
{
	color:white;
}

/* debut des trois boutons */

.btn-gauche
{
	height: 300px;
	max-width: 20%;
	margin-left: 10%;
	background-color: red;
	border: solid 5px green;
}

.btn-centre
{
	height: 300px;
	max-width: 20%;
	margin-left: 10%;
	background-color: red;
	border: solid 5px green;
}

.btn-droite
{
	height: 300px;
	max-width: 20%;
	margin-left: 10%;
	background-color: red;
	border: solid 5px green;
}

/* fin des trois boutons */

/* footer*/

footer
{
	bottom: 0;
	position: fixed;
	height: 30px;
	width: 100%;
	background-color: green;
	text-align: center;
}

/*=============================== PAGE ARTICLE ==============================*/
.contenu
{
	text-align: center;
}
.article
{
	margin-bottom: 30px;
	height: 300px;
}
.img-article
{
	height: 50%;
	width: 100%;
}
/*============================= PAGE CREATION ARTICLES ========================*/

.form-articles
{
	margin-top: 75px;
}

/*========================== PAGE DE PRESENTATION =============================*/

.pres h2
{
	text-align: center;
}
.pres
{
	height: 500px;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: green;
	border-radius: 10px;
	color: black;
}
.img-profil
{
	max-width: 100%;

}