{% extends 'base.html.twig' %}

{% block body %}
<div class="baisse-haut"></div>
<h1 class="title">Liste des articles</h1>
	{% set i = 0 %}
	{% for article in articles %}
		{% set hasphoto = 0 %}
	<div class="col-md-4 article">	
		{% if tabphoto != 1 %}
			<div class="cont-img-art">
			{% for j in 0..compteur %}
				{% if tabphoto[j].path != 1 and tabphoto[j].idArticle == tab[i].id and hasphoto == 0 %}
					<img src="{{ asset('/uploads/pictures/' ~tabphoto[j].path) }}" alt="test" class="img-article">
					{% set hasphoto = 1 %}
				{% endif %}
			{% endfor %}
			</div>
		{% endif %}
		<div class="row article-head">
			<div class="col-md-12 col-xs-12 article-title">{{ article.titre }}</div>
			<div class="col-md-3 col-xs-3 datearticle">{{ article.date.date | date("d/m/y") }}</div>
			<div class="col-md-3 col-xs-3 col-md-offset-6"><a href="{{ path('one_article', {'id':article.id } ) }}" ><button class="btn btn-info">Voir l'article</button></a></div>
		</div>
		<br/>
		<br/>
		
	</div>

	{% set i = i+1 %}
	{% endfor %}
	
{% endblock %}