{% extends 'base.html.twig' %}

{% block body %}
<div class="baisse-haut"></div>
<h2>Page d'articles</h2>
	{% for article in articles %}
	<div class="col-md-3 article">	
		<div class="row">
			<div class="col-md-6">{{ article.titre }}</div>
			<div class="col-md-6">{{ article.date.date | date("d/m/y") }}</div>
		</div>
		<br/>
		<div class="contenu">{{ article.contenu }}</div>
		<br/>
	</div>
	{% endfor %}
{% endblock %}