{% extends 'base.html.twig' %}
{% block body %}
	<div class="baisse-haut"></div>
	Nom: {{ conseil.nom }}
	<br/>
	Email: {{ conseil.email }}
	<br/>
	Motif: {{ conseil.motif }}
	<br/>
	Conseil: {{ conseil.content }}
{% endblock %}